* {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: flex-end;
    padding-right: 20px;
    /* background-color: ; */
}

nav ul li {
    animation: fadeIn 0.4s ease-in-out;
    transition: 0.25s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.1);
    opacity: 0.7;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.Tittle {
    padding: 70px 20px;
    text-align: center;
    background: linear-gradient(140deg, #222, #000);
    color: white;
}


.products {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}


.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}


.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.info {
    padding: 15px;
}


.info button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


footer {
    margin-bottom: -20px;
    margin-inline: -8px;
    padding: 30px;
    background: #000;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: 1;
}


@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav {
        justify-content: center;
    }
}